@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: #f1f1f1;
  --accent-color: #81D4E5;
  --sidebar-color: #D1D1D1;
  --text-color: #000000;
  --chat-bubble: #D1D1D1
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.max-w-3\/4 {
  max-width: 75%;
}

